body {
    font-family: Helvetica, sans-serif;
    background-color: #2C3E50; 
    color: #ECF0F1;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}
    

.container {
background-color: #34495E; 
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    text-align: center;
    max-width: 400px;
    width: 90%;
    }

h1 {
    color: #1ABC9C; 
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px; margin-bottom: 15px;
    background-color: #ECF0F1; 
    font-size: 16px;
    box-sizing: border-box;
}



button#check-btn {
background-color: #E67E22; 
color: white;
padding: 10px 20px;
border: none;
font-size: 16px;
transition: background-color 0.3s;
    }


