
@font-face {
    font-family: "GROBOLD";
    src: local("GROBOLD"),
    url("../fonts/grobold.ttf") format("truetype");
}


h1 {
    font-family: "GROBOLD", sans-serif;
    color: #3E436F;
    font-size: 50px;
}

 h2 {
        font-size: 30px;
    }

   .telex-regular {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
    color: #D2691E;
     max-width: 600px; 
    margin: 40px auto; 
    padding: 20px;
    background-color: #ffffffb3; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color:#e77d63; 
    font-size: 1.1rem; 
}

li a {
    text-decoration: none; 
    color: #D2691E; 
    display: block;
    padding: 0.5em 0;
    border-bottom: 1px solid #f0f0f0; 
    transition: color 0.3s; 
}

li a:hover, li a:focus {
    color: #3E436F; 
    text-decoration: underline;
}